[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir DMR+
Name[es_ES]=Abrir DMR+
Comment=
Exec=mate-terminal -x sh -c "cd /home/orangepi/SCRIPTS_ORANGE/;sleep 5;sh ejecutar_plus_05.sh"
Icon=
Terminal=false
StartupNotify=false
Path=
Hidden=false

