[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir dstarsolo
Name[es_ES]=Abrir dstarsolo
Comment=
Exec=mate-terminal -x sh -c "cd /home/orangepi/SCRIPTS_ORANGE/;sleep 10;sh ejecutar_dstarsolo.sh"
Icon=
Terminal=false
StartupNotify=false
Path=
Hidden=false

