[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir fusionsolo
Name[es_ES]=Abrir fusionsolo
Comment=
Exec=mate-terminal -x sh -c "cd /home/orangepi/SCRIPTS_ORANGE/;sleep 10;sh ejecutar_solofusion.sh"
Icon=
Terminal=true
StartupNotify=false
Path=
Hidden=false

