[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir Radio
Name[es_ES]=Abrir Radio
Comment=
Exec=mate-terminal -x sh -c "cd /home/orangepi/SCRIPTS_ORANGE/;sleep 10;sh ejecutar_svxlink_05.sh"
Icon=
Terminal=false
StartupNotify=false
Path=
Hidden=false

